{$DOMAIN} {
    encode zstd gzip
    header {
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
        -Server
    }
    request_body {
        max_size 4MB
    }
    reverse_proxy api:8000
}
